venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
session_data/

dist/
build/
*.egg-info/

.DS_STORE

.env
*.bak

duolingo-venv-thing/
study-tool/

key.json

debug123.log
backend/debug123.log
